<mat-grid-list cols=4 gutterSize="15px" rowHeight="40px">
    <mat-grid-tile colspan=4></mat-grid-tile>

    <mat-grid-tile rowspan=10></mat-grid-tile>
    <mat-grid-tile colspan=2 id="about" rowspan=10>
        <app-about-paragraph></app-about-paragraph>
        <img src="../../../assets/top_img.png" alt="Image of a VR device." id="device-image">
    </mat-grid-tile>
    <mat-grid-tile rowspan=10></mat-grid-tile>

    <mat-grid-tile colspan=4 rowspan=2>
        <mat-card id="the-team-heading">
            <mat-card-title>
                The Team
            </mat-card-title>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile rowspan=8 colspan=4>
        <mat-card>
            <mat-card-title>
                Jason Wille
            </mat-card-title>
            <mat-card-subtitle>
                u16029390
            </mat-card-subtitle>
            <img src="../../../assets/Jason.jpg" alt="Jason's Picture">
            <mat-card-content>
                Skills/Interests:
                <ul>
                    <li>Running</li>
                    <li>AI</li>
                    <li>Statistics</li>
                    <li>Data Science</li>
                </ul>
            </mat-card-content>
        </mat-card>
        <span style="width: 15px;"></span>
        <mat-card>
            <mat-card-title>
                Matthew Wood
            </mat-card-title>
            <mat-card-subtitle>
                u19048972
            </mat-card-subtitle>
            <img src="../../../assets/Matt.jpg" alt="Matt's Picture">
            <mat-card-content>
                Skills/Interests:
                <ul>
                    <li>C++</li>
                    <li>Backend</li>
                    <li>Java</li>
                    <li>CrossFit</li>
                </ul>
            </mat-card-content>
        </mat-card>
        <span style="width: 15px;"></span>
        <mat-card>
            <mat-card-title>
                Zachariah Idiculla
            </mat-card-title>
            <mat-card-subtitle>
                u17067210
            </mat-card-subtitle>
            <img src="../../../assets/Zach.jpg" alt="Zach's Picture">
            <mat-card-content>
                Skills/Interests:
                <ul>
                    <li>C++</li>
                    <li>Web Design</li>
                    <li>Java</li>
                    <li>Virtual Reality</li>
                </ul>
            </mat-card-content>
        </mat-card>
        <span style="width: 15px;"></span>
        <mat-card>
            <mat-card-title>
                Ethan Baker
            </mat-card-title>
            <mat-card-subtitle>
                u19200065
            </mat-card-subtitle>
            <img src="../../../assets/Ethan.jpg" alt="Ethan's Picture">
            <mat-card-content>
                Skills/Interests:
                <ul>
                    <li>Waterpolo</li>
                    <li>Backend</li>
                    <li>Web Design</li>
                    <li>Java</li>
                </ul>
            </mat-card-content>
        </mat-card>
        <span style="width: 15px;"></span>
        <mat-card>
            <mat-card-title>
                Kabelo Leiee
            </mat-card-title>
            <mat-card-subtitle>
                u19247070
            </mat-card-subtitle>
            <img src="../../../assets/Kabelo.jpg" alt="Kabelo's Picture">
            <mat-card-content>
                Skills/Interests:
                <ul>
                    <li>Gym</li>
                    <li>AI</li>
                    <li>JavaScript</li>
                    <li>Networks</li>
                </ul>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>