<mat-grid-list cols=5 gutterSize="15px" rowHeight="40px">
    <mat-grid-tile colspan=5></mat-grid-tile>
    <mat-grid-tile rowspan=6></mat-grid-tile>
    <mat-grid-tile colspan=3 rowspan=6>
        <mat-card id="choose-option">
            <table>
                <tr>
                    <mat-form-field appearance="outline">
                        <mat-label>Choose a model</mat-label>
                        <mat-select [(value)]="selected" #datasetOption>
                            <mat-option *ngFor="let value of listModelsValue['models']" value={{value}}>{{listModelsValue['modelDetails'][value]['name']}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </tr>
                <tr>
                    <button mat-raised-button color="primary" (click)="saveChanges(datasetOption.value)">Save</button>
                    <button mat-raised-button color="primary" (click)="listModels()">Refresh</button> 
                </tr>
            </table>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan=6></mat-grid-tile>
    <mat-grid-tile *ngIf="fetchedData" colspan=5 rowspan=2>
        <mat-card id="the-options-heading">
            <mat-card-title>
                Available Models
            </mat-card-title>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="fetchedData" colspan=5 rowspan=4>
        <mat-card *ngFor="let value of listModelsValue['models']" class="model-option">
            <mat-card-title *ngIf="listModelsValue['modelDetails'][value]['name'] !== currentModelValue['modelName']">
                {{listModelsValue['modelDetails'][value]['name']}}
            </mat-card-title>
            <mat-card-title *ngIf="listModelsValue['modelDetails'][value]['name'] === currentModelValue['modelName']" style="font-weight: bolder;">
                * {{listModelsValue['modelDetails'][value]['name']}}
            </mat-card-title>
            <mat-card-content>
                <ul>
                    <li>Beta value: {{listModelsValue['modelDetails'][value]['beta_value']}}</li>
                    <li>Dataset used: {{listModelsValue['modelDetails'][value]['dataset_used']}}</li>
                    <li>Epochs: {{listModelsValue['modelDetails'][value]['epochs_trained']}}</li>
                    <li>Latent vector size: {{listModelsValue['modelDetails'][value]['latent_vector_size']}}</li>
                </ul>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>