<p class="text">Server Coordinate Testing</p>

<input type="number" class="inputBoxes" id="x" value="0" step="0.1" #x (change)="postCoords(x.value, y.value, z.value)"> <br>
<input type="number" class="inputBoxes" id="y" value="0" step="0.1" #y (change)="postCoords(x.value, y.value, z.value)"> <br>
<input type="number" class="inputBoxes" id="z" value="0" step="0.1" #z (change)="postCoords(x.value, y.value, z.value)"> <br>

<img id="imageReturned" src={{image}} alt="Returned Image">

<div class="track" (mousemove)="trackCoords($event)"></div>